
/*now the good styling*/
/*please do not copy this code but just to use this to help you*/
body {

  background:linear-gradient(red, blue);
}

.top {
    
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 65px;
    font-family: sans-serif;
    padding-left: 0.72em;
    font-style: none;
    text-color: none;
    	}

   .navigation {

   	list-style: none;
   	padding: none;
   	text-decoration: none;
   	font-size: 20px;
   	text-color:none
   	font-family: none;
   	text-align: center;
   	font-weight: none;
   }

.wwe {

  text-color:black;
}

